doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        each css in ['fonts', 'scrollbar', 'base', 'main', 'heading', 'list', 'cards', 'desktop']
            link(rel='stylesheet', type='text/css', href='../style/' + css + '.css')
        title tutorials
    body
        main
            .main-content-wide
                h1 tutorials
                p Here you can find some guided tutorials that demonstrate the flexibility of the library.

                .card-container
                    a.card.large(href='gapminder')
                        .background(style='background-image:url(gapminder/thumbnail.png)')
                        .card-label Gapminder
                        .card-desc Hans Rosling's famous bubble chart on the life expectancy distribution for multiple years.
