doctype
html
    head
        meat(charset='utf-8')
        script(src='https://unpkg.com/d3@5.9.2/dist/d3.min.js')
        script(src='https://unpkg.com/@dalian/core/dist/dalian.core.min.js')
        script(src='https://unpkg.com/@dalian/component-widget/dist/dalian.component-widget.min.js')
        script(src='../dist/dalian.component-mouse.min.js')
        script(src='demo-widget.js')
        script(src='demo.js')
        link(rel='stylesheet', type='text/css', href='style.css')
        title @dalian/component-mouse
        style.
            .dalian-widget {
                box-shadow: 0 0 10px grey;
                background-color: royalblue;
            }
    body
        #widget
        #controls
            .title Controls
            .buttons
        script.
            addControls(
                MouseDemoWidget('myDemo', '#widget')
                    .render(), {
                    mouseover: [undefined, g => g.style('background-color', 'darkred')],
                    mouseleave: [undefined, g => g.style('background-color', null)]
                });
