<!DOCTYPE html><html><head><meat charset="utf-8"></meat><script src="https://unpkg.com/d3@5.9.2/dist/d3.min.js"></script><script src="../../../core/dist/dalian.core.min.js"></script><script src="../../widget/dist/dalian.component-widget.min.js"></script><script src="../dist/dalian.component-mouse.min.js"></script><script src="demo-widget.js"></script><script src="demo.js"></script><link rel="stylesheet" type="text/css" href="style.css"><title>@dalian/mouse</title><style>.dalian-widget {
    box-shadow: 0 0 10px grey;
    background-color: royalblue;
}</style></head><body><div id="widget"></div><div id="controls"><div class="title">Controls</div><div class="buttons"></div></div><script>addControls(
    MouseDemoWidget('myDemo', '#widget')
        .render(), {
        mouseover: [undefined, g => g.style('background-color', 'firebrick')],
        mouseleave: [undefined, g => g.style('background-color', null)]
    });</script></body></html>