script.doc.
  // create chart
  let { width, height} = getSize();
  const lineChart = dalian.widgets.LineChart('myChart', '#widget')
          .data([
            {
              name: 'mango',
              values: new Array(100).fill(0).map(function (d, i) {
                return {
                  x: i,
                  y: Math.pow(i / 40, 2),
                  lo: i / 100,
                  hi: i / 150
                };
              })
            },
            {
              name: 'kiwi',
              values: new Array(100).fill(0).map(function (d, i) {
                return {
                  x: i,
                  y: Math.log(i + 1)
                          * Math.pow(Math.cos(Math.PI * i / 15), 2) + 2,
                  lo: .4,
                  hi: .9
                };
              })
            }
          ])
          .width(width)
          .height(height)
          .xLabel('days')
          .yLabel('price')
          .margins(40)
          .fontSize(14)
          .smoothing(true)
          .lineStyle({
            mango: '4 4'
          })
          .tooltip(true)
          .tooltipYFormat(function(d) { return d.toFixed(2) })
          .render();
script.doc.
  // update data
  setInterval(function () {
    const tau = 2 * Math.random();
    const phi = 5 * Math.random() + 10;
    lineChart.data([
      {
        name: 'mango',
        values: new Array(100).fill(0).map(function (d, i) {
          return {
            x: i,
            y: Math.pow(i / 40, tau),
            lo: i / 100,
            hi: i / 150
          };
        })
      },
      {
        name: 'kiwi',
        values: new Array(100).fill(0).map(function (d, i) {
          return {
            x: i,
            y: Math.log(i + 1)
                    * Math.pow(Math.cos(Math.PI * i / phi), 2) + 2,
            lo: .4,
            hi: .6
          };
        })
      }
    ]).render();
  }, 20000);
script.doc.
  // add marker
  lineChart.addMarker('myMarker', 'mango', 34, 87, 'trend');
+resize('lineChart')
