doctype
html
    head
        meat(charset='utf-8')
        script(src='https://unpkg.com/d3@5.9.2/dist/d3.min.js')
        script(src='https://unpkg.com/@dalian/core/dist/dalian.core.min.js')
        script(src='https://unpkg.com/@dalian/component-widget/dist/dalian.component-widget.min.js')
        script(src='../../placeholder/dist/dalian.component-placeholder.min.js')
        script(src='../dist/dalian.component-font.min.js')
        script(src='demo-widget.js')
        script(src='demo.js')
        link(rel='stylesheet', type='text/css', href='style.css')
        title @dalian/component-font
        style.
            .dalian-widget-content {
                box-shadow: 0 0 10px grey;
                background-color: royalblue;
            }
    body
        #widget
        #controls
            .title Controls
            .buttons
        script.
            addControls(
                FontDemoWidget('myDemo', '#widget')
                    .placeholder('This is a font demo')
                    .render(), {
                    fontSize: [12, 20],
                    fontColor: ['black', 'firebrick']
                });
