<!DOCTYPE html><html><head><meat charset="utf-8"></meat><script src="https://unpkg.com/d3@5.9.2/dist/d3.min.js"></script><script src="../../../core/dist/dalian.core.min.js"></script><script src="../../widget/dist/dalian.component-widget.min.js"></script><script src="../../placeholder/dist/dalian.component-placeholder.min.js"></script><script src="../dist/dalian.component-font.min.js"></script><script src="demo-widget.js"></script><script src="demo.js"></script><link rel="stylesheet" type="text/css" href="style.css"><title>@dalian/description</title><style>.dalian-widget-content {
    box-shadow: 0 0 10px grey;
    background-color: royalblue;
}</style></head><body><div id="widget"></div><div id="controls"><div class="title">Controls</div><div class="buttons"></div></div><script>addControls(
    FontDemoWidget('myDemo', '#widget')
        .placeholder('This is a font demo')
        .render(), {
        fontSize: [12, 20],
        fontColor: ['black', 'firebrick']
    });</script></body></html>