aside {
  position: absolute;
  width: calc(240px - 2px);
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  box-shadow: 0 0 4px black;
}

aside .search-bar {
  width: calc(100% - 30px);
  height: 30px;
  margin: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid royalblue;
}

aside .search-bar input {
  width: calc(100% - 10px);
  height: 100%;
  margin-left: 10px;
  background: none;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  -webkit-appearance: none;
  border-radius: 0;
}

aside .menu-title {
  width: calc(100% - 40px);
  padding: 20px;
  font-variant: all-small-caps;
  font-weight: normal;
  font-size: 1.2em;
}

aside .methods {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

aside .methods a,
aside .methods a:visited {
  display: block;
  text-decoration: none;
  color: #bbb;
  font-family: 'Courier', monospace;
  font-size: 0.8em;
  padding: 6px 12px;
  border: none;
}

aside .methods a:hover {
  background-color: #eee;
  color: royalblue;
}

main {
  position: absolute;
  width: calc(100% - 250px);
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

pre.install {
  width: calc(100% - 40px);
  margin: 0 20px 10px 20px;
}

pre.install code {
  padding: 20px !important;
}

dl dd {
  display: inline;
  margin: 0;
}
dl dd:after{
  display: block;
  content: '';
}
dl dt{
  display: inline-block;
  min-width: 100px;
}

code:not(.example) {
  background-color: #ebebeb;
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 0.9em;
}

pre code {
  padding: 30px !important;
  line-height: 1.5em;
}

table {
  margin-bottom: 20px;
}

thead tr th {
  font-weight: bold;
  text-align: left;
  font-variant: all-small-caps;
  color: #aaa;
}

tr {
  vertical-align: top;
}

td {
  padding-top: 10px;
}

td code {
  display: inline-block;
  margin: 2px;
}

.param-optional {
  font-variant: all-small-caps;
  font-size: .9em;
  font-weight: normal;
  margin-right: 5px;
  padding: 2px 6px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: -1px;
  background-color: rgba(74, 118, 255, 0.09);
}

td.param-type {
  font-family: 'Courier', monospace;
}

.param-name {
  width: 100px;
}
.param-type {
  width: 100px;
  padding-right: 10px;
  clear: both;
  display: inline-block;
}

.card {
  margin: 0 0 120px 0;
}

.card .title {
  font-family: 'Courier', monospace;
  font-size: 1.1em;
  padding: 15px 20px;
  background-color: #eee;
  border-left: 5px solid royalblue;
  overflow-x: scroll;
}

.card .title::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card .desc {
  margin: 10px 0 20px 0;
}

.card .desc ul {
  list-style: none;
  padding-left: 10px;
}

.card .desc ul li {
  margin-top: 10px;
}

.palette {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.palette span {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 10px;
}

.palette div {
  display: inline-block;
  position: relative;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  border-radius: 4px;
}

.card .returns {
  margin-top: 10px;
  display: inline-block;
}
.card .return-type {
  width: 150px;
  float: left;
  margin-top: 3px;
}
.card .return-desc {
  width: calc(100% - 150px);
  float: right;
  padding-top: 3px;
}
.card .return-desc ul li {
  margin-top: 10px;
}
.card .return-desc ul li:first-child {
  margin-top: 0;
}

