.card-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.card {
    display: inline-block;
    position: relative;
    float: left;
    top: 0;
    width: 200px;
    margin: 29px calc(50% - 120px);
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px #ccc;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: box-shadow .2s, top .2s;
}
.card:hover {
    box-shadow: 0 15px 30px #ccc;
    top: -5px;
    transition: box-shadow .2s, top .2s;
}

.card-title {
    width: 100%;
    height: 30px;
}

.card-content {
    display: block;
    position: relative;
    width: 100%;
    height: calc(260px - 62px - 30px);
}
.card:hover .card-content {
    opacity: 1;
    filter: grayscale(0%);
}
