/* TODO Remove, use fonts.css */
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('fonts/Montserrat-Regular.otf');
}

/* TODO Remove, use scrollbar.css */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #eee;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

/* TODO Remove, use base.css */
::selection {
    background-color: royalblue;
}

/* TODO Remove, use base.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}
