#widget,
.widget {
    display: block;
    position: relative;
    width: 600px;
    height: 300px;
}

#controls {
    position: relative;
    width: 100%;
}

.controls-title {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.controls-section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
}

#controls ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#controls ul li {
    width: 100%;
    float: left;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
    line-height: 14px;
}

#controls li:hover {
    color: royalblue;
}

.label {
    margin-left: -4px;
}

.links {
    display: inline-block;
    position: relative;
    width: 100%;
}
