#widget,
.widget {
    display: block;
    position: relative;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-top: 8px;
    cursor: pointer;
    color: #555;
    user-select: none;
    line-height: 18px;
}
li:hover {
    color: #888;
}
li:hover .desc-button {
    background-color: #4b74ff;
}
li:hover .desc-button.on {
    background-color: #cf2222;
}
li:active {
    color: black;
}
li:active .desc-button {
    background-color: #3559b1;
}
li:active .desc-button.on {
    background-color: #832020;
}

.desc-button {
    display: inline-block;
    background-color: royalblue;
    color: white;
    margin-right: 6px;
    padding: 2px 4px;
    width: 14px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
    font-size: .9em;
    cursor: pointer;
}
.desc-button.on {
    background-color: firebrick;
}
