h1, h2, h3, p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.6em;
    font-weight: normal;
    color: #555;
}

h2 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.4em;
    font-weight: normal;
    color: black;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 6px;
    font-variant: all-small-caps;
    color: #666
}

p {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: justify;
}
