a,
a:visited{
    text-decoration: none;
    color: royalblue;
    border-bottom: 3px solid transparent;
    transition: border-bottom .2s;
}
a:hover {
    border-bottom: 3px solid royalblue;
    transition: border-bottom .2s;
}

a.right {
    margin-left: 20px;
    float: right;
}

a.footnote {
    margin-top: 10px;
}
