ul {
    padding: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
}

ul li {
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: normal;
}

ul.indented li {
    width: calc(100% - 20px);
    padding-left: 20px;
}
