main {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}

.main-content {
    position: relative;
    width: 60%;
    max-width: 620px;
    margin: 50px auto;
}

.main-content-centered {
    position: relative;
    width: 600px;
    margin: 40px auto;
}

.main-content-padded {
    width: calc(100% - 60px);
    padding: 30px;
}

.main-content-wide {
    display: block;
    width: 90%;
    min-width: 320px;
    max-width: 1220px;
    margin: 0 auto 30px auto;
}
