doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        each css in ['fonts', 'base', 'link', 'heading', 'list', 'scrollbar', 'main']
            link(rel='stylesheet', type='text/css', href='../style/' + css + '.css')
        title API reference
    body
        main
            .main-content-centered
                h1 API reference
                p

                each m in modules
                    h2 #{m.category}
                    ul.indented
                        each entry in m.entries
                            li #[a(href=m.category + '/' + entry.name + '.html') #{entry.factory}]
