doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        each css in ['fonts', 'base', 'link', 'heading', 'list', 'scrollbar', 'main']
            link(rel='stylesheet', type='text/css', href='../style/' + css + '.css')
        title API reference
    body
        main
            .main-content-centered
                h1 API reference
                p

                h2 components
                ul.indented
                    each component in components
                        li #[a(href='components/' + component.name + '.html') #{component.factory}]

                h2 charts
                ul.indented
                    each chart in charts
                        li #[a(href='charts/' + chart.name + '.html') #{chart.factory}]
