doctype html

mixin resize(elem)
    script.
        function resize() {
          const { width, height } = getSize();
          document.getElementById('widget').style.paddingTop = height + 'px';
          #{elem}
            .width(width)
            .height(height)
            .render();
        }
        window.onresize = resize;

html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:200,300,700')
        each css in ['common', 'highlight.min', 'example']
            link(rel='stylesheet', type='text/css', href='../../../style/' + css + '.css')
        script(type='text/javascript', src='https://unpkg.com/mobile-detect@1.4.4/mobile-detect.js')
        each lib in config.libs
            script(type='text/javascript', src='https://unpkg.com/' + lib)
        each module in ['@dalian/core', '@dalian/component-chart']
            script(type='text/javascript', src='https://unpkg.com/' + module)
        script(type='text/javascript', src='../../../../modules/widgets/line-chart/dist/dalian.widget-line-chart.min.js')
        script(src='../../../js/codedoc.min.js')
        script(src='../../../js/highlight.min.js')
        script(type='text/javascript').
          codedoc.heading()
            .callback(function() {
              hljs.initHighlighting.called = false;
              hljs.initHighlighting();
            });
        script.
          function getSize () {
            const md = new MobileDetect(window.navigator.userAgent);
            const width = parseFloat(d3.select('#widget').style('width'));
            const aspect = md.mobile() === null ? 2 : 1.5;
            const height = width / aspect;
            console.log(width, height);
            return { width, height };
          }
        title LineChart | dalian
    body
        main
            #widget
            if div
                div(id=div.i, class=div.c)
            h1 description
            #desc !{config.description}
            a(href='https://github.com/synesenom/dalian/blob/master/src/modules/widgets/line-chart.js') source
            a(href='https://unpkg.com/@dalian/widget-line-chart') min.js
            a(href='../../../reference/widgets/line-chart.html') docs
            #code-doc
            include ../../modules/widgets/line-chart/docs/example/code
    script.
        resize();
