<!DOCTYPE html><html><head><meat charset="utf-8"></meat><script src="https://unpkg.com/d3@5.9.2/dist/d3.min.js"></script><script src="../../../core/dist/dalian.core.min.js"></script><script src="../../widget/dist/dalian.component-widget.min.js"></script><script src="../dist/dalian.component-description.min.js"></script><script src="demo-widget.js"></script><script src="demo.js"></script><link rel="stylesheet" type="text/css" href="style.css"><title>@dalian/description</title><style>.dalian-widget {
    box-shadow: 0 0 10px grey;
    background-color: royalblue;
}</style></head><body><div id="widget"></div><div id="controls"><div class="title">Controls</div><div class="buttons"></div></div><script>addControls(
    DescriptionDemoWidget('myDemo', '#widget')
        .render(), {
        x: [0, 100],
        y: [0, 100],
        width: [300, 400],
        height: [200, 300],
        description: [undefined, 'This is a demo widget']
    });</script></body></html>